<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="free art challenge builder, art challenges, free artist community | DailyArtShare">
  <meta name="author" content="ryan johnson">

  <title>DailyArtShare</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">DailyArtShare</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://dailyartshare.com">Drawing Prompt Generator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://sendfox.com/lp/1g50l6" target="_blank">Join the community</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1>DailyArtShare: A Creative Community</h1>
        <ul style="list-style-type: none;">
          <li>Practice art with daily or casual challenges.</li>
          <li>Earn experience points and level up your skills.</li>
          <li>Make new friends who love art of all kinds.</li>
        </ul>
        <a href="https://sendfox.com/lp/1g50l6" target="_blank"><button class="btn btn-primary rounded-pill mt-5" type="submit">Join</button></p>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Why practice art?</h2>
            <p>Practicing art daily will increase your skills, strengthen your discipline, and can be therapeutic for your mental health.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Motivation and Encouragement</h2>
            <p>We are a small community, but focused on being an accountability group to be inspired by, share with, and get feedback from will keep you excited to keep sharing and build a daily practice streak!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/03.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Art is for fun!</h2>
            <p>This is fun, friendly, and casual group for all skill levels, disciplines, and backgrounds! Musicians, painters, crafters, coders, and poets!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <!-- stack some more random mantras here randomly from the backend? -->
      <p class="m-0 text-center footer-text">flex your art muscles!</p>
      <p class="m-0 text-center footer-text">the proof is in the pudding</p>
      <p class="m-0 text-center footer-text">stressed is desserts spelled backwards</p>
      <p class="m-0 text-center footer-text">always trust your crazy ideas</p>
      <hr/>
      <p class="m-0 text-center text-white small">Made by Ryan @ <a href="http://crookedframe.art" target="_blank">Crooked Frame Art</a></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
